/* Structure */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(19, 19, 66);
}

#content {
    background:skyblue;
    width:50%;
    margin:auto;
    padding:2%;
    border-radius:5px;
}

/* Typography */
h1 {
    text-align: center;
}

h2 {
    text-align: center;
    padding:5px 5px;
}

h3 {
    text-align: center;
    padding:5px 5px;
}

p {
    text-align: center;
    font-weight: 600;
}

a {
    text-decoration: none;
    color:rgb(8, 9, 81);
    padding:5px 5px;
}

li {
    margin-bottom: 2%;
}

#assignmentList {
    list-style-position: inside;
    padding-left: 0;
    text-align: center;
    color:rgb(8, 9, 81);
    font-weight: 510;
}

#headings {
    color:rgb(44, 44, 173);
}